:root {
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
    overflow-x: hidden;
    font-family: cursive;
    --textcolor:  black;
}

.text {
    font-size: 1em;
    color: rgb(22, 114, 45);
}

.heading {
    font-size: 3em;
    color: rgb(0, 68, 255);
}

.spaced {
    margin: 10px;
    padding: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* individual components */

.article {
    margin: 10px;
    padding: 10px;

    display: flex;
    place-items: center;

    min-height:250px;
    width: 95%;
}

.section {
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(255, 154, 154);
    border-radius: 6px;

    padding: 10px;
    margin: 10px;

    overflow-y: auto;

    display: flex;
    place-items: center;
    flex-direction: column;

    height: 70vh;
    width: 500px;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.fact {

}