:root {
    background-color: darkgray;
}

/* DEBUG CLASSES */
.border {
    border-style: solid;
    border-color: white;
}
.green {
    border-color: green;
}
.blue {
    border-color: blue;
}
.red {
    border-color: red;
}